

body{
    background-color: #574181;
    background-size: cover;
    width: 100%;
    height: 100%;
}
/*HEADER*/
.navbar {
    color: white;
    min-height: 90px;
}


.estilo-x {
   font-size: 1.2em;
   text-align: center;
}
#texto:before{
    content: "Melanie Alexia Impróvola Carballo";
  }
  
  @media (max-width:991px) and (min-width:450px) {
      #texto:before {
          content: "IMPROVOLA";
          font-size: 1.5em ;
      }
  }
  
  @media (max-width:500px){
      #texto:before {
          content: "IMP";
          font-size: 1em;
      }
  }

img.green {
    max-width: 100%;
    height: 100%;
}
.bannerart {
    width: 100%;
    height: 100%;
    background-image: cover;
    position: relative;
}

.imp {
    background-color: #DED1F7;
    padding: 3rem;
    background-size: cover;
}
.imp h1{
    color: #644C92;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 4.5vw;
}
.imp p{
    color: black;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.artb {
 opacity:0.9;
 filter:alpha(opacity=40); /* For IE8 and earlier */
}

.banner {
    background-size: cover;

}

.text {
    font-size: 1.2em;
    text-align: center;
    text-justify:inter-word;
}



.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

:root {
    --warning: #875D9C;
}

.btn-warning {
    background-color: var(--warning);
    border-color: var(--warning);
}
.btn-warning:hover {
    background-color: #AA86BE;
    border-color: var(--warning);
    transition: 0.5s;
}

.imagen-icon {
    max-width: 100%;
    max-height:100%;
}
/*FIN HEADER*/


/*PERFIL*/
.simg{
    width: 13vw;
    margin: 15px 0;
    border-radius:150px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
 
.simg:hover {
    width: 20vw;
    margin-left: -40px;
    border-radius:150px;
}

.etica {
    background-color: white;
    padding: 3rem;
}

.etica h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
.etica p{
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}
/*FIN SEGUNDA SECCION*/


/*TERCERA SECCION*/
.bg3{
    background-color: #A483D6;
    padding: 3rem;
    justify-content: center;
}

.bg3 h1{
    color: #211534;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

.bg3 p{
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.sombra:hover {
    filter: opacity(.7);
}
/*FIN TERCERA SECCION*/


/*FOOTER*/


.icon-arrow-up:before {
  content: "\1f446";
}



footer {
    background-color: black;
    padding: 2px;
    color: grey;
    text-align: center;
}
/*FIN FOOTER*/

/*ACTIVISMO*/
.activismo {
    background-color: #edf7d1;
    padding: 3rem;
}
.activismo h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
.activismo p{
    color: black;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.articulos {

    padding: 3rem;
}

.articulos h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
.articulos p{
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.Campaña {
    background-color: #edf7d1;
    padding: 3rem;
    justify-content: center;
}

.Campaña h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    font-size: 8vw;
}

.Campaña p{
    text-align: center;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}

.Campaña a{
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}


img .Campaña {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*SECCION TRABAJOS*/
    .rece{
        background-color: #DED1F7;
        padding: 3rem;
    }

    .rece h1{
        color: #644C92;
        text-align: center;
        font-family: 'Fredoka One', cursive;
    }
    .rece p{
        color: black;
        text-align: center;
        font-size: 1.6em;
        font-family: 'Roboto', sans-serif;
    }

.card {
    background-color: #574181;
    margin-left: 3px;
    margin-right: 3px;
}
.card-group h5{
    color: white;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
.card-group h2{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
.card-group p {
    color: black;
    text-align: center;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;   
}
/*FIN TRABAJOS*/
/*SEPARADOR*/
img .hojas{
    max-width: 100%;
    height: 100vw;
}
/*SECCION VIDEOS*/
    .video {
        background-color:#8769D3;
        padding: 3rem;
    }
    .video h1{
        color: #C5B4F1;
        text-align: center;
        font-family: 'Fredoka One', cursive;
    }
    .video p{
        color: black;
        text-align: center;
        font-size: 1.6em;
        font-family: 'Roboto', sans-serif;
    }
    
    .video-responsive {
        position: relative;
        padding-bottom: 56.25%; /* 16/9 ratio */
        padding-top: 30px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
        }

    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }

    /*FIN VIDEOS*/




/*--ENCABEZADOS LARGOS--*/
.encabezado {
    font-size: 8vw;}

.encabezado1 {
    font-size: 3vw;}
.encabezado1 h1{
    color: #487a2d;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}

.contacto1 {
    background-size: 100vw 100vh;
    margin:10px;
}
